<!doctype html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
                integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
                crossorigin=""></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css" integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
                integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
                crossorigin=""/>
        <title>ADS-B: Elixir Live RDL-SDR Broadcast "Radar"</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                        <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="/images/_plane.png" style="height: 30px; width: 30px;"/>ADS-B: Elixir Live RDL-SDR Broadcast "Radar"</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    
                        <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Home
                                </a>
                            </li>

                            </ul>

                        </div>
                        </div>
                    </nav>
      
      
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="map" style="height:600px;">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    

                    <table class="table table-hover" id="plane_table">
                        <thead>
                        <tr>
                            <th>ICAO code</th>
                            <th>Callsign</th>
                            <th>Altitude</th>
                            <th>Ground Speed</th>
                            <th>Heading</th>
                            <th>Lat</th>
                            <th>Long</th>
                            <th>ROC</th>
                            <th>Squawk</th>
                            <th>Alert</th>
                            <th>Emergency</th>
                            <th>Grounded</th>
                        </tr>
                        </thead>
                        <tbody id="plane_table_rows">
                            
                        </tbody>
                    </table>
  
  
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script>
            var map = L.map('map').setView([41.1432, -81.8552], 13);
            

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: 'Copyright OpenStreetMap'
            }).addTo(map);

            function centerOnPlane(lat, long, hex_code) {
                console.log(lat + " " + long)
                if (lat == false || long == false) {
                    // $(hex_code).toggleClass("Danger")

                        // $("#AC" + hex_code).get().toggleClass("table-danger")
                   hex_code.className = "table-danger"
                   hex_code.children[5].textContent = "NO LOC"
                   hex_code.children[6].textContent = " DATA"
                    
                } else {
                    map.panTo([lat, long], 13);
                }
                
            }
        </script>

        <script src="/js/ads_b.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </body>
</html>